.body{
    background: #F6F6F6;
    margin: 0;
    display: flex;
    font-family: 'Roboto';
}

/* Container */
.container{
    position: absolute;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);

}

/*Left Side*/
.left_side{
    background: #F7F7F7;
    position: relative;
}

/* Profile Text */
.profile_text{
    width: 88px;
    height: 23px;
    right: 111px;
    left: 50px;

}

/* Image */
.image_box{
    position: absolute;
    width: 56px;
    height: 56px;
    top: 40px;
    left: 40px;
}

/* Rick Tang*/
.rick_tang{
    box-sizing: border-box;
    position: absolute;
    width: 88px;
    height: 23px;
    left: 111px;
    top: 50px;
    color: black;
}

/* Product Designer */
.product_designer{
    width: 88px;
    height: 12px;
    left: 111px;
    top: 75px;
    color: rgba(0,0,0,0.7)
}

/* Right Side */
.right_side{
    background: #FCFBF8;
    position: absolute;
    width: 568px;
    height: 1025px;
    left: 423px;
    right: -83px;

}