body{
    background: white;
    margin: 50px;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

/* Container */
.container{
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    display: grid;
    grid-template-columns: 65% 1fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

/*Left Side*/
.left_side{
    background: white;
    position: relative;
    margin-top: 60px;
    margin-left: 60px;
    margin-bottom: 120px;
    margin-right: 10px;
}

/* Header */
.hat{
    display: flex;
    align-items: flex-start;
}

.img{
    width: 90px;
    height: 90px;
}

.name{
    padding-left: 20px;
}

h1{
    margin-bottom: 1px;
}

.post{
    font-weight: 500;
}

.experience{
    margin-bottom: 40px;
    margin-top: 40px;
}

/* Right Side */
.right_side{
    left: 423px;
    right: -83px;
    margin-left: 65px;
    background: rgb(255,254,208);
    background: linear-gradient(197deg, rgba(255,254,208,1) 0%, rgba(255,255,255,1) 45%, rgba(232,251,255,1) 100%);
}

/* Details*/
.details{
    padding-top: 125px;
    color: black;
    position: relative;
    margin-bottom: 70px;
}

.details-title{
    left: 453px;
    top: 133px;
    margin-bottom: 30px;
    padding-left: 40px;
}

.header{
    left: 453px;
    top: 166px;
    margin-bottom: 10px;
}

.text{
    color: rgba(0,0,0,0.7);
    margin-top: 1px;
}

.details ul{
    position: relative;
}

.list{
    list-style: none;
}

/*Links*/
.links{
    left: 453px;
    margin-bottom: 70px;
}

.links-title{
    margin-bottom: 30px;
    padding-left: 40px;
}

/*Skills*/
.skills-section{
    left: 453px;
    margin-bottom: 70px;
}

.skills-title{
    margin-bottom: 30px;
    padding-left: 40px;
}

.progress-bar{
    width: 190px;
    height: 4px;
    background-color: gray;
    position: relative;
}

.progress{
    position: absolute;
    background-color: black;
}

.f-progress{
    width: 180px;
    height: 4px;
}

.s-progress{
    width: 180px;
    height: 4px;
}

.ap-progress{
    width: 140px;
    height: 4px;
}

.ai-progress{
    width: 90px;
    height: 4px;
}

.p-progress{
    width: 120px;
    height: 4px;
}

.axd-progress{
    width: 120px;
    height: 4px;
}